<a href="https://colab.research.google.com/github/EderA117/Clase/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
1# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

"""
sikllasjdjdn
bjiwfunrihuf
jisfbweiufr
"""

Hola Mundo

'\nsikllasjdjdn\nbjiwfunrihuf\njisfbweiufr\n'

In [5]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [10]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {1} y estudio {1} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre*2} y estudio {carrera} en la FES Aragon")

Mi nombre es ICO, la mejor y estudio ICO, la mejor en la FES Aragón
Mi nombre es JoséJosé y estudio ICO, la mejor en la FES Aragon

In [11]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [16]:
modulo

2

In [17]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [19]:
menor_o_igual_que

False

In [20]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [21]:
y

False

In [30]:
saludo = "Hola Mundo"
cita = 'Los alumnos\n de ICO\t\t \'dicen\': "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [31]:
print(cita)

Los alumnos
 de ICO		 'dicen': "Hola Mundo"

In [36]:
def fn_uno():
    print("Hola Elliot")

a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)
c.__call__()

10
Hola
<function fn_uno at 0x7fced7296170>
Hola Elliot

In [37]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Eder
Hola Eder!

In [40]:
numero = int(20)
print(numero)
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

20
Introduce tu edad:19
Eder tiene 19 años

In [41]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [45]:
pi*2.0

6.28318

In [48]:
#.    0.    1.    2
#     -3.   -2.   -1
frutas = ['limon', 'aguacate', 'fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [51]:
cosas = ['limon', 10, 3.1416, True, [1,2,3,4], 'Hola']
print(cosas[4])

[1, 2, 3, 4]

#Slicing en Pyhton

[inicio : <stop : step]

es la posibilida de obtener rebanadas a partir de un tipode datos lista o tupla, en general de un iterable

In [52]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [54]:
rebanada = ejemplo[6:9:1]
print(rebanada)

['a', 'b', 'c']

In [62]:
frutas_dos =('aguacate','limon','naranja')
print(frutas)
print(frutas_dos)

frutas[1] = 'Pina'
#frutas_dos[1] = 'pina'

print(frutas[1])
print(frutas_dos[1])

print(frutas_dos[1:2:1])
print(frutas_dos[-1])

['limon', 'Pina', 'fresa']
('aguacate', 'limon', 'naranja')
Pina
limon
('limon',)
naranja

In [68]:
alumno = {'numero_cuenta' : 23432 , 'carrera' : 'ICO' ,
          'direccion' : {'calle' : 'rancho seco', 'numero' : 23}
          }
print(alumno['direccion']['calle'][3:6:1])

cho

In [3]:
!ls -a

.  ..  .config	sample_data